<h1>Contacts</h1>
  <div class="row">
    <div class= "col-xs-6 col-xs-offset-3">
      <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
        <input type="text" class="form-control"placeholder="Search Name" ng-model="searchText"/>
      </div>
    </div>
  </div>

  <div ng-repeat="contacts in items | filter: searchText">
  <br/>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-3">  First Name: {{contacts.firstName}}</div>
        <div class="col-xs-3">Last Name: {{contacts.lastName}}</div>
        <div class="col-xs-3">Telephone: {{contacts.number}}</div>
        <div class="col-xs-3">Address: {{contacts.address}}</div>
        <!-- <div class="col-xs-1"><button class="btn btn-danger">X</button></div> -->
      </div>
    </div>
  </div>
